/fifteen/target/
/fifteen/js/target/
/fifteen/client/target/
/fifteen/client-web/target/
/fifteen/client-netbeans/target/
/fifteen/client-android/target/
/fifteen/client-ios/target/
/crud/target/
/crud/shared/target/
/crud/js/target/
/crud/client/target/
/crud/client-web/target/
/crud/client-android/target/
/crud/client-ios/target/
/crud/server/target/
/twitter/target/
/twitter/js/target/
/twitter/client/target/
/twitter/client-web/target/
/twitter/client-android/target/
/twitter/client-ios/target/