language: android
jdk: oraclejdk8
android:
    components:
    - build-tools-26.0.2

    # The SDK version used to compile your project
    - android-26

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-26

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-armeabi-v7a-android-26
    - sys-img-armeabi-v7a-android-17
sudo: required
before_install:
  - sudo apt-get -qq update || echo no sudo apt-get
  - sudo apt-get install -y libwebkitgtk-3.0-0 || echo no sudo apt-get
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start || echo No X11
  - sleep 3
script:
  - mvn install -DskipTests
  - mvn test
os:
  - linux
  - osx 
